@charset "utf-8";
/* CSS Document */

/* domaintemplate table definition*/

#full_table_template {
    width:85%;
	padding: 0;
	margin: 12px auto;
	border:solid 2px #FF9F9F;
	padding:25px;
}

/* domaintdetail table definition*/

#full_template{
	 width:81%;
	padding: 0;
	margin: 12px auto;
	border:solid 2px #FF9F9F;
	padding:25px;

	}

h4{
color:#fff;
background-color:#ef4136;
text-align:center;
width:85%;
height:40px;
margin: 12px auto;
padding-top:30px;
border-radius:4px;

	
	}
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px ;
	text-align: right;
}

th {
	color:#fff;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background-color:#ef4136;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-bottom: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}


td.alt {
	background: #F5FAFA;
	color: #797268;
}

th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px ;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px ;
	color: #797268;
}