@charset "utf-8";
/* CSS Document */


.field-widget{
	float:right;
	margin-right:35%;
	font-style:oblique;
}

#last_field-widget{
	position:relative;
	left:55%;
	bottom:30px;
		font-style:oblique;

	}
.field_widget_x{
	background:#ffebe8;
	float:right;
	width:300px;
    border:1px solid #FF9F9F;
	text-align:center;
	font-size:17px;
	padding:12px 5px;
	border-radius:4px;	
}
.field_widget_z{
	background:#ffebe8;
    border:1px solid #FF9F9F;
	color:#3b5998;
	text-align:center;
	font-size:17px;
	padding:12px 5px;
	border-radius:4px;	
	}

.title{
		font-size:17px;
		color:#F00;
	}
	
p{
	color:#F00;
	
	}
/* domaintemplate table definition*/

#full_table_template {
    width:85%;
    margin: 5px auto;
	border:solid 2px #FF9F9F;
	padding:25px;
	font-size: 16px;	
	letter-spacing:2px;
	border-radius:4px;	
}



/* domaintdetail table definition*/

.full_template{
    font-size: 16px;
	width:81%;
    margin: 5px auto;
	border:solid 2px #FF9F9F;
	padding:24px;
    letter-spacing:2px;
	border-radius:4px;	

	}

h4{
color:#fff;
font-size:17px;
background-color:#EF413D;
text-align:center;
width:84.9%;
margin: 4px auto;
padding:30px 0px;
border-radius:4px;	
	}
.footer{
color:#CCC;
background-color:#ffebe8;
text-align:center;
width:84%;
margin: 4px auto;
padding:5px;
border-radius:4px;
border:2px solid #FF9F9F;
	
	}
	.headings{
 color:#EF413D;
  margin: 1.4em 0;
	}
	
#poboxaddress{
	width:420px;
	height:120px;
	border:solid 0px #036;
	margin-top:12px;
	
	}

	
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px ;
	text-align: right;
}

th {
	color:#fff;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background-color:#ef4136;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #4f6b72;
}

.mail_input_labels{
	width:25%;
	}

#mailForm td{
		border-right: 1px solid #C1DAD7;

	}

td.alt {
	background: #F5FAFA;
	color: #797268;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px ;


}
/*th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px ;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px ;
	color: #797268;
}*/