.error_msg{
    display: inline-block;
    font-size: 12px;
    color: #D00;
    padding-left: 10px;
    font-style: italic;
}


.mail{
  margin:15px auto 0px auto;
  display:block;
}

.mail_input_labels{
	width:35%;
	padding:20px;

	}
	
.form_inputfileds{
	padding:10px;
	position:relative;
	}
	
#attachedtemplate{
background:#ABFF96;
border:2px solid #0C0;
	   font-size:16px;
	   font-weight:bold;
	
	}	

#image{

height: 30px;
}
.form-input:focus{
   color: #3D991F;
   border: 1px solid green;
}
.submit_btn:hover{
   background:#8DC73F;
   border: 1px solid green;
   color: #fff;
}


em.error {
  background:url("unchecked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  color: #ff0000;
  font-weight: 100;
}
em.success {
  background:url("checked.gif") no-repeat 0px 0px;
  padding-left: 16px;
  color: #33ff55 !important;
}

form.cmxform label.error {
	margin-left: auto;
	width: 250px;
	color: red;
}
#warning { display: none; }
.status{
   width : 250px;
   position: absolute;
}
#message1{
  display: none;
  width: 350px;
  height: 100px;
  color: #fff;
  margin-left: 90px;
  margin-top: 100px;
  border: 2px solid #fff;
  position: relative;
  border-radius: 10px;
}

#message1 h2, #message1 p{
  text-align: center;
}
#message1 #checkmark{
   margin-left: 150px;
}

#cancel{
  position: absolute;
  right: -10px;
  top: -10px;
}
.hide{
  display: none;
}
