@charset "utf-8";
/* CSS Document */


html body {
      font-family:"Lucida Grande";
      font-size: 16px;
      color:#999;
	  margin:0;
      padding:0;
	  letter-spacing:1px;
	  background:#F8FDEF;
      }
	  
 a {
	color:#3b5998;
	text-decoration:none;
	}
	  

fieldset {
	border:solid 2px #FF9F9F;
    padding-left:12px;
    width:83%;
  	margin: 0 auto;
	border-radius:4px;
}

legend {
	font-weight:bold;
	color:#8DC73F;

	}

#regform label {
    width:335px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
	color:#999;

}
input[type=text], input[type=tel] ,input[type=email]  ,input[type=file] {
    height:20px; 
    width:220px; 
    padding:8px 5px;
    border:1px solid #0C0;
    border-radius:4px;
	margin-top:5px;

}
textarea {
    padding:8px 0px;
	width:230px;
    height:60px;
	position:inherit; 
    border:1px solid #0C0;
    border-radius:4px;
	margin-top:5px;

	}
	
	

#regform input:focus, #regform textarea:focus{
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

.selectbox{
	height:35px; 
    width:230px; 
    padding:8px 5px;

    border:1px solid #0C0;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;	
	}
	
	
/* Button Style */

.submit_b{
background:#ABFF96;
border:1px solid #0C0;
color:#666;
font-size:18px;
width:16%;
margin-bottom:2px;
border-radius:4px;
height: 35px;

}

input[type=button]:hover{
	background-color:#8DA4F1;
}



.field-widget{
	float:right;
	margin-right:35%;
	font-style:oblique;
}

#last_field-widget{
	position:relative;
	left:55%;
	bottom:30px;
		font-style:oblique;

	}
.field_widget_x{
	background:#ffebe8;
	float:right;
	width:300px;
    border:1px solid #FF9F9F;
	text-align:center;
	font-size:17px;
	padding:12px 5px;
	border-radius:4px;	
}
.field_widget_z{
	background:#ffebe8;
    border:1px solid #FF9F9F;
	color:#3b5998;
	text-align:center;
	font-size:17px;
	padding:12px 5px;
	border-radius:4px;	
	}

	
p{
	color:#EE1221;
	
	}
/* domaintemplate table definition*/

#full_table_template {
    width:85%;
    margin: 0px auto;
	border:solid 2px #FF9F9F;
	padding:24px;
	font-size: 16px;	
	letter-spacing:2px;
	border-radius:4px;	
}



/* domaintdetail table definition*/

.full_template{
	width:81.2%;
    margin: 0px auto;
	border:solid 2px #FF9F9F;
	padding:24px;
    letter-spacing:2px;
	border-radius:4px;	

	}

.header{
color:#fff;
font-size:17px;
background-color:#EF413D;
text-align:center;
width:85%;
margin: 5px auto 1px auto;
padding:30px 0px;
border-radius:4px;	
	}
.footer{
color:#CCC;
background-color:#EF413D;
text-align:center;
width:83%;
margin: 2px auto;
padding:15px;
border-radius:4px;
border:0px solid #FF9F9F;
	
	}
	
	.headings{
 color:#EF413D;
  margin: 1.4em 0;
	}
	
#poboxaddress{
	width:420px;
	height:120px;
	border:solid 0px #036;
	margin-top:12px;
	
	}

	
caption {
	padding: 0 0 5px 0;
	width: 700px;	 
	font: italic 11px ;
	text-align: right;
}

th {
	color:#3b5998;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	text-align: left;
	padding: 6px 6px 6px 12px;
    background-color: #ffebe8;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

.mail_input_labels{
	width:25%;
	float:left;
	}

#mailForm td{
		border-right: 1px solid #C1DAD7;

	}

td.alt {
	color: #797268;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px ;


}

/* code for the valid_domain_validation*/

#tick{
	display:none;

}
#cross{
	display:none;

}

#valid{
	display:none;
	color:#090;
}
#invalid{
	display:none;
		color:#C33;

}

#dlength{
	display:none;
		color:#C33;

}






/*th.spec {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #fff url(../images/bullet1.gif) no-repeat;
	font: bold 10px ;
}

th.specalt {
	border-left: 1px solid #C1DAD7;
	border-top: 0;
	background: #f5fafa url(../images/bullet2.gif) no-repeat;
	font: bold 10px ;
	color: #797268;
}*/
